body {
	background-color: grey;
	margin: 0px;
}
.nav-container{
	top: 0%;
	position: sticky;
	background-color: white;
	box-sizing: border-box;
}
.navlist{
	list-style: none;
	margin:0px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.navlist li{
	display:inline-block;
	padding-right: 1%;
	padding-left: 1%;
}
