body {
	background-color: grey;
}
.nav-container{
	background-color: white;
	width: auto;
	margin: none;
	padding: none;
	display: flex;
	box-sizing: border-box;
}
.navlist{
	list-style: none;
	
	padding: 11px;
	

}
.navlist li{
	display:inline-block;
}
